@import 'colors'

.container
    margin: 0 auto
    @media (min-width: 1024px)
        width: 1024px
    @media (max-width: 1023px)
        width: 100%

    h2
        text-align: center
        color: $grey
        margin-bottom: 0