@import 'colors'

#features
  background-color: white
  text-align: center
  padding-bottom: 20px
  color: $dark-text

  h2
    padding: 10px

  .feature
    box-sizing: border-box
    display: inline-block
    width: 32%
    @media (min-width: 750px)
      width: 32%
    @media (max-width: 600px)
        width: 100%
    padding: 10px 40px
    vertical-align: top

    p
      text-align: justify
      font-weight: lighter
