@import colors
    
#page-header
    line-height: 50px
    color: $light-text
    background-color: $twitter-bg

    .container
        position: relative

    #logo
        padding-left: 40px
        font-size: 20px
        text-decoration: none
        color: $light-text

        img
            position: absolute
            width: 30px
            height: 30px
            top: 7px
            left: 5px

    #contact
        position: absolute
        right: 5px
        @media (max-width: 600px)
            display: none

        a
            color: $very-light-grey
            

    