@import 'colors'

$border-width: 2px
$border-radius: 8px
$border-color: $very-light-grey

.order-section

    margin-bottom: 10px

    #order
        box-sizing: border-box
        @media (min-width: 400px)  
            width: 400px
        @media (max-width: 399px)
            width: 100%
        background-color: white
        margin: 40px auto 0 auto
        border: 2px solid $very-light-grey
        @media (min-width: 400px)
            border-radius: 5px
        color: $dark-text

        .order-info
            box-sizing: border-box
            background-color:  $very-light-grey
            padding: 5%

            .order-name
                margin: 0
                color: $dark-text

            .step-state
                color: $grey

        #customer-form
            padding: 20px

            input[type=text], input[type=email]
                border: 1px solid $light-grey
                padding: 10px
                border-radius: 5px
                margin-bottom: 20px
                width: 95%

            input[type=text]:disabled, input[type=email]:disabled
                color: $dark-text
                background-color: #f4f4f4

            .incorrect
                border: 1px solid $error

            .form-center
                text-align: center

            .info
                color: $grey
                text-align: center

            #pay-button
                cursor: pointer
                border: 1px solid $border-color
                text-decoration: none
                width: 60%
                background-color: $button-bg
                color: $light-text
                font-size: 18px
                padding: 10px 5px
                border-radius: 4px
                margin-top: 10px


            #pay-button:hover
                background-color: $button-bg-h

            #pay-button:disabled
                cursor: not-allowed
                background-color: $button-bg-h


            .price
                a
                    text-decoration: none

.owner-info
    text-align: center
    color: $button-bg-h