@import 'colors'

#paypal
    background-color: white
    text-align: center
    padding: 5px 0

    .container
        border-top: 4px solid $very-light-grey

        a
            img
                @media (max-width: 399px)
                    width: 90%

        #contact
            color: $dark-text

            a
                color: $dark-text