@import 'colors'

$border-width: 2px
$border-radius: 8px
$border-color: $very-light-grey

#products
    color: $dark-text
    text-align: center

    h2
        text-align: center
        color: $light-text

    .product-item
        display: inline-block
        text-align: center
        @media (min-width: 750px)
            width: 22%
        @media (max-width: 749px) and (min-width: 400px)
            width: 46%
        @media (max-width: 399px)
            width: 90%
        margin: 0 1% 25px 1%
        background-color: white
        border-radius: $border-radius

    .name
        border: $border-width solid $border-color
        border-bottom: none
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
        padding: 20px 0 10px 0

        .followers-quantity
            font-weight: bold
            font-size: 32px
            line-height: 20px
        
        .followers
            font-size: 18px
            font-weight: bold

    .price
        letter-spacing: 1px
        background-color: $price-bg
        color: white
        border-left: $border-width solid $price-bg
        border-right: $border-width solid $price-bg
        padding: 16px 0 14px 0

        .sign
            display: inline-block
            line-height: 32px
            font-size: 24px
            vertical-align: top
            font-weight: bold
        
        .dollars
            font-size: 48px
            line-height: 40px
            font-weight: bold
        
        .cents
            font-size: 16px
            vertical-align: top
            line-height: 20px
            color: $cents

    .old-price
        font-weight: bold
        color: $old-price-color

    .features
        border-left: $border-width solid $border-color
        border-right: $border-width solid $border-color
        @media (max-width: 399px)
            display: none

        ul
            margin: 0
            padding: 0

        li
            list-style-type: none
            padding: 10px 0
            border-bottom: 1px solid $border-color
        
        .active-benefit
            color: $light-text
            background-color: $active-benefit
            padding: 0 4px
            border-radius: 5px
    
    .buy
        border: $border-width solid $border-color
        border-top: none
        border-bottom-left-radius: $border-radius
        border-bottom-right-radius: $border-radius
        padding: 25px 0
        a
            text-decoration: none
            background-color: $button-bg
            color: $light-text
            font-size: 24px
            font-weight: bold
            padding: 0 24px
            border-radius: 4px
        
        a:hover
            background-color: $button-bg-h
