@import 'colors'

.payment
  text-align: center
  margin-top: 20px
  border-radius: 4px
  color: $very-light-grey

  h2
    color: white

  .order-info
    @media (min-width: 400px)
    width: 400px
    @media (max-width: 399px)
      width: 100%
    background-color: white
    margin: 40px auto 0 auto
    border: 2px solid $very-light-grey
    @media (min-width: 400px)
      border-radius: 5px
    color: $dark-text

    table
      border-collapse: collapse
      width: 100%
      color: $grey

      tr
        border-bottom: 1px solid $very-light-grey

        td
          padding: 5px 10px
          text-align: left

        td:nth-child(odd)
          font-weight: bold



    header
      background-color: $very-light-grey

      h3
        box-sizing: border-box
        margin: 0
        padding: 5px

    .price
      font-size: 16px
      padding: 10px 10px
      text-decoration: underline dotted $grey
      font-weight: bold