@import colors
    
#slogan
    background-color: $twitter-bg
    padding-bottom: 60px
    @media (min-width: 400px)
        padding-bottom: 60px
    @media (max-width: 399px)
        padding-bottom: 20px

    h1
        color: $very-light-grey
        text-align: center
        font-size: 46px
        margin: 0
        padding-top: 30px
        @media (min-width: 600px)
            font-size: 46px
        @media (max-width: 599px)
            font-size: 26px
    
    u
        color: $light-text

    #mobile-features
        @media (max-width: 399px)
            display: block
            padding: 0

            li
                list-style-type: none
                color: $light-text
                text-align: center