@import 'container'
@import 'fonts'
@import 'header'
@import 'slogan'
@import 'products'
@import 'paypal'
@import 'footer'
@import 'order-form'
@import 'return'
@import 'features'
@import 'terms'

html, body
    margin: 0
    padding: 0
    font-family: 'Mukta'

html
    height: 100%

body
    min-height: 100%
    background-color: $twitter-bg