.container {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
}
.container h2 {
  text-align: center;
  color: #657786;
  margin-bottom: 0;
}

@font-face {
  font-family: "Mukta";
  src: url("../fonts/Mukta-Regular.ttf");
}
#page-header {
  line-height: 50px;
  color: #f5f8fa;
  background-color: #24a9e6;
}
#page-header .container {
  position: relative;
}
#page-header #logo {
  padding-left: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #f5f8fa;
}
#page-header #logo img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  left: 5px;
}
#page-header #contact {
  position: absolute;
  right: 5px;
}
@media (max-width: 600px) {
  #page-header #contact {
    display: none;
  }
}
#page-header #contact a {
  color: #e1e8ed;
}

#slogan {
  background-color: #24a9e6;
  padding-bottom: 60px;
}
@media (min-width: 400px) {
  #slogan {
    padding-bottom: 60px;
  }
}
@media (max-width: 399px) {
  #slogan {
    padding-bottom: 20px;
  }
}
#slogan h1 {
  color: #e1e8ed;
  text-align: center;
  font-size: 46px;
  margin: 0;
  padding-top: 30px;
}
@media (min-width: 600px) {
  #slogan h1 {
    font-size: 46px;
  }
}
@media (max-width: 599px) {
  #slogan h1 {
    font-size: 26px;
  }
}
#slogan u {
  color: #f5f8fa;
}
@media (max-width: 399px) {
  #slogan #mobile-features {
    display: block;
    padding: 0;
  }
  #slogan #mobile-features li {
    list-style-type: none;
    color: #f5f8fa;
    text-align: center;
  }
}

#products {
  color: #29495e;
  text-align: center;
}
#products h2 {
  text-align: center;
  color: #f5f8fa;
}
#products .product-item {
  display: inline-block;
  text-align: center;
  margin: 0 1% 25px 1%;
  background-color: white;
  border-radius: 8px;
}
@media (min-width: 750px) {
  #products .product-item {
    width: 22%;
  }
}
@media (max-width: 749px) and (min-width: 400px) {
  #products .product-item {
    width: 46%;
  }
}
@media (max-width: 399px) {
  #products .product-item {
    width: 90%;
  }
}
#products .name {
  border: 2px solid #e1e8ed;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px 0 10px 0;
}
#products .name .followers-quantity {
  font-weight: bold;
  font-size: 32px;
  line-height: 20px;
}
#products .name .followers {
  font-size: 18px;
  font-weight: bold;
}
#products .price {
  letter-spacing: 1px;
  background-color: #F15700;
  color: white;
  border-left: 2px solid #F15700;
  border-right: 2px solid #F15700;
  padding: 16px 0 14px 0;
}
#products .price .sign {
  display: inline-block;
  line-height: 32px;
  font-size: 24px;
  vertical-align: top;
  font-weight: bold;
}
#products .price .dollars {
  font-size: 48px;
  line-height: 40px;
  font-weight: bold;
}
#products .price .cents {
  font-size: 16px;
  vertical-align: top;
  line-height: 20px;
  color: #F8A170;
}
#products .old-price {
  font-weight: bold;
  color: #fbcfa3;
}
#products .features {
  border-left: 2px solid #e1e8ed;
  border-right: 2px solid #e1e8ed;
}
@media (max-width: 399px) {
  #products .features {
    display: none;
  }
}
#products .features ul {
  margin: 0;
  padding: 0;
}
#products .features li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #e1e8ed;
}
#products .features .active-benefit {
  color: #f5f8fa;
  background-color: #00674A;
  padding: 0 4px;
  border-radius: 5px;
}
#products .buy {
  border: 2px solid #e1e8ed;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 25px 0;
}
#products .buy a {
  text-decoration: none;
  background-color: #0C6996;
  color: #f5f8fa;
  font-size: 24px;
  font-weight: bold;
  padding: 0 24px;
  border-radius: 4px;
}
#products .buy a:hover {
  background-color: #09547a;
}

#paypal {
  background-color: white;
  text-align: center;
  padding: 5px 0;
}
#paypal .container {
  border-top: 4px solid #e1e8ed;
}
@media (max-width: 399px) {
  #paypal .container a img {
    width: 90%;
  }
}
#paypal .container #contact {
  color: #29495e;
}
#paypal .container #contact a {
  color: #29495e;
}

#footer {
  text-align: center;
  color: #657786;
  background-color: #f5f8fa;
}
#footer a {
  color: #29495e;
}

.order-section {
  margin-bottom: 10px;
}
.order-section #order {
  box-sizing: border-box;
  background-color: white;
  margin: 40px auto 0 auto;
  border: 2px solid #e1e8ed;
  color: #29495e;
}
@media (min-width: 400px) {
  .order-section #order {
    width: 400px;
  }
}
@media (max-width: 399px) {
  .order-section #order {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .order-section #order {
    border-radius: 5px;
  }
}
.order-section #order .order-info {
  box-sizing: border-box;
  background-color: #e1e8ed;
  padding: 5%;
}
.order-section #order .order-info .order-name {
  margin: 0;
  color: #29495e;
}
.order-section #order .order-info .step-state {
  color: #657786;
}
.order-section #order #customer-form {
  padding: 20px;
}
.order-section #order #customer-form input[type=text], .order-section #order #customer-form input[type=email] {
  border: 1px solid #aab8c2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 95%;
}
.order-section #order #customer-form input[type=text]:disabled, .order-section #order #customer-form input[type=email]:disabled {
  color: #29495e;
  background-color: #f4f4f4;
}
.order-section #order #customer-form .incorrect {
  border: 1px solid #9A4949;
}
.order-section #order #customer-form .form-center {
  text-align: center;
}
.order-section #order #customer-form .info {
  color: #657786;
  text-align: center;
}
.order-section #order #customer-form #pay-button {
  cursor: pointer;
  border: 1px solid #e1e8ed;
  text-decoration: none;
  width: 60%;
  background-color: #0C6996;
  color: #f5f8fa;
  font-size: 18px;
  padding: 10px 5px;
  border-radius: 4px;
  margin-top: 10px;
}
.order-section #order #customer-form #pay-button:hover {
  background-color: #09547a;
}
.order-section #order #customer-form #pay-button:disabled {
  cursor: not-allowed;
  background-color: #09547a;
}
.order-section #order #customer-form .price a {
  text-decoration: none;
}

.owner-info {
  text-align: center;
  color: #09547a;
}

.payment {
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
  color: #e1e8ed;
}
.payment h2 {
  color: white;
}
.payment .order-info {
  width: 400px;
  background-color: white;
  margin: 40px auto 0 auto;
  border: 2px solid #e1e8ed;
  color: #29495e;
}
@media (max-width: 399px) {
  .payment .order-info {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .payment .order-info {
    border-radius: 5px;
  }
}
.payment .order-info table {
  border-collapse: collapse;
  width: 100%;
  color: #657786;
}
.payment .order-info table tr {
  border-bottom: 1px solid #e1e8ed;
}
.payment .order-info table tr td {
  padding: 5px 10px;
  text-align: left;
}
.payment .order-info table tr td:nth-child(odd) {
  font-weight: bold;
}
.payment .order-info header {
  background-color: #e1e8ed;
}
.payment .order-info header h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}
.payment .order-info .price {
  font-size: 16px;
  padding: 10px 10px;
  text-decoration: underline dotted #657786;
  font-weight: bold;
}

#features {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  color: #29495e;
}
#features h2 {
  padding: 10px;
}
#features .feature {
  box-sizing: border-box;
  display: inline-block;
  width: 32%;
  padding: 10px 40px;
  vertical-align: top;
}
@media (min-width: 750px) {
  #features .feature {
    width: 32%;
  }
}
@media (max-width: 600px) {
  #features .feature {
    width: 100%;
  }
}
#features .feature p {
  text-align: justify;
  font-weight: lighter;
}

#terms {
  background-color: #e1e8ed;
  padding: 20px;
  border-radius: 3px;
  color: #29495e;
  box-sizing: border-box;
  text-align: justify;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Mukta";
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #24a9e6;
}

/*# sourceMappingURL=style.css.map */
