<!DOCTYPE html>
<html lang="en">
<head>
    {% if not debug %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126380766-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-126380766-1');
            gtag('config', 'AW-789197194');
        </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    {% block conversion_script %}{% endblock %}
</head>
<body>
<header id="page-header">
    <div class="container">
        <a href="/" id="logo">
            <img src="/assets/images/logo.png" alt="logo"> EasyFollower.
            {% if debug  %} <span style="color: #9A4949">DEVELOPMENT MODE</span> {% endif %}
        </a>
        <span id="contact">
                Contact us: <a href="mailto:support@easy-follower.com">support@easy-follower.com</a>
        </span>
    </div>
</header>
    {% block content %}{% endblock %}
</body>
</html>