{% extends '_base.twig' %}

{% block title %}
    Fastest way to get twitter folowers - easy-follower.com
{% endblock %}

{% block content %}
    <div id="slogan">
        <div class="container">
            <h1>
                Fastest way to get <br>
                <u>active followers</u><br>
                on your Twitter account.
            </h1>
            <ul id="mobile-features" hidden>
                <li>
                    <strong>
                        Lifetime guarantee
                    </strong>
                </li>
                <li>
                    <strong>Quality & Active</strong>
                    followers
                </li>
                <li>
                    <strong>
                        Fast delivery
                    </strong>
                </li>
            </ul>
        </div>
    </div>
    <div id="products">
        <div class="container">
            {% for index, product in products %}
                <div class='product-item'>
                    <header class='name'>
                        <div class='followers-quantity'>{{ product.quantity }}</div>
                        <div class='followers'>Followers</div>
                    </header>
                    <div class='price'>
                        <span class='sign'>$</span>
                        <span class='dollars'>{{ product.price|split('.')|first }}</span>
                        <span class='cents'>{{ product.price|split('.')|last }}</span>
                        <br>
                        <del class="old-price">
                            {{ product.old_price }}$
                        </del>
                    </div>
                    <div class='features'>
                        <ul>
                            <li>
                                <strong>
                                    Money Back Guarantee
                                </strong>
                            </li>
                            <li>
                                <strong>Quality & Active</strong>
                                followers
                            </li>
                            <li>
                                <strong>
                                    0-36 hours delivery
                                </strong>
                            </li>
                        </ul>
                    </div>
                    <div class='buy'>
                        <a href='{{ path_for("product", {"id": index}) }}'>Buy Now</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="features">
        <div class="container">
            <h2>Our Advantages</h2>
            <div class="feature">
                <header>
                    <img src="/assets/images/refill.png" alt="Refill">
                    <h3>Money Back Guarantee</h3>
                </header>
                <p>
                    If by our fault you won't get new followers, we will refund your payment in full.
                </p>
            </div>
            <div class="feature">
                <header>
                    <img src="/assets/images/privacy.png" alt="Support">
                    <h3>Non-drop Guarantee</h3>
                </header>
                <p>
                    If followers will unfollowing from your account, we will send new one for free.
                </p>
            </div>
            <div class="feature">
                <header>
                    <img src="/assets/images/support.png" alt="Privacy">
                    <h3>24/7 Support</h3>
                </header>
                <p>
                    Our sales and customer service departments are ready to help you 24/7 and answer all your questions.
                </p>
            </div>
        </div>
    </div>
    <div id="paypal">
        <div class="container">
            <h2>We accept Paypal</h2>
            <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a>
            <br>
            <span id="contact">
                Support: <a href="mailto:support@easy-follower.com">support@easy-follower.com</a>
            </span>
        </div>
    </div>
    <footer id="footer">
        Copyright © 2018 EasyFollower. All Rights Reserved | <a href="{{ path_for("terms") }}">Terms of Service</a>
        | <a href="{{ path_for("terms") }}#privacy">Privacy Policy</a>
        | <a href="{{ path_for("terms") }}#refund">Refund Policy</a>
        <br>
        EasyFollower is owned and operated by Anton Tiapugin Alexeevich, Russia.
    </footer>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function(){ var widget_id = 'R7gHrS0TvK';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
{% endblock %}