{% extends '_base.twig' %}

{% block title %}
    Order - {{ plan.follower_amount }} Twitter Followers
{% endblock %}

{% block content %}
    <div class="order-section">
        <section id="order">
            <div class="order-info">
                <h2 class="order-name">
                    {{ product.name }}
                </h2>
                <div class="step-state">
                    STEP <strong>1/2</strong>
                </div>
            </div>
            <form action="{{ path_for('payment') }}" method="post" id="customer-form" name="customerForm">
                <label for="email">
                    Email
                    <small id="invalid-email-notice" style="color: #9A4949" hidden>
                        <br>
                        Incorrect Email
                    </small>
                </label>
                <br>
                <input type="email" name="customer_email" placeholder="username@example.com">
                <label for="customer_username">
                    Twitter Username
                    <small id="invalid-username-notice" style="color: #9A4949" hidden>
                        <br>
                        Username could not be found on Twitter. Please make sure you enter right username.
                    </small>
                </label>
                <br>
                <input type="text" name="customer_username" placeholder="username">
                <input type="hidden" name="product_code" value="{{ product.code }}">
                <input type="hidden" name="product_id" value="{{ index }}">
                <input type="hidden" id="checksum" name="checksum">
                <input type="hidden" id="validation_url" value="{{ path_for('validate') }}">
                <div class="form-center">
                    <button id="pay-button">Go to Payment</button>
                </div>
            </form>
        </section>
    </div>
    <div class="owner-info">
        <div class="container">
            <small>
                EasyFollower is owned and operated by Anton Tiapugin Alexeevich, Russia.
            </small>
        </div>
    </div>
    <script src="/assets/js/validator.js"></script>
{% endblock %}