{% extends '_base.twig' %}

{% block title %}
    Order - {{ plan.follower_amount }} Twitter Followers
{% endblock %}

{% block conversion_script %}
    {% if not debug %}
        <script>
            function gtag_report_conversion(url) {
                var callback = function () {
                    if (typeof(url) != 'undefined') {
                        window.location = url;
                    }
                };
                gtag('event', 'conversion', {
                    'send_to': 'AW-789197194/4RdbCJb9vooBEIrjqPgC',
                    'value': {{ plan.price.dollars + plan.price.cents / 100 }},
                    'currency': 'USD',
                    'transaction_id': Math.random().toString(36).substring(2),
                    'event_callback': callback
                });
                return false;
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="order-section">
        <section id="order">
            <div class="order-info">
                <h2 class="order-name">
                    Payment
                </h2>
                <div class="step-state">
                    STEP <strong>2/2</strong>
                </div>
            </div>
            <div id="customer-form">
                <label for="order_name">Order</label><br>
                <input type="text" value="{{ product.name }}" id="order_name" disabled>
                <label for="email">Email</label><br>
                <input type="text" value="{{ customer_email }}" id="email" disabled>
                <label for="customer_username">Twitter Username</label><br>
                <input type="text" name="customer_username" value="{{ customer_username }}" id="customer_username" disabled>
                <div class="price form-center">
                    Total Amount: <strong>{{ product.price }}$</strong>
                    <br><br>
                    <a href="{{ paypal_payment_url }}" {% if not debug %} onclick="gtag_report_conversion()" {% endif %}>
                        <img src="/assets/images/pp.png" alt="paypal-button">
                    </a>
                    <br>
                    {#<a href="{{ card_payment_url }}" {% if not debug %} onclick="gtag_report_conversion()" {% endif %}>#}
                        {#<img src="/assets/images/cc.png" alt="card-button">#}
                        {#<br>#}
                        {#<img src="/assets/images/c_logos.png" alt="cc-logos">#}
                    {#</a>#}
                </div>
                <div class="info">
                    <small>
                        You will get your followers in 0-36 hours.
                    </small>
                </div>
            </div>
        </section>
    </div>
    <div class="owner-info">
        <div class="container">
            <small>
                EasyFollower is owned and operated by Anton Tiapugin Alexeevich, Russia.
            </small>
        </div>
    </div>
{% endblock %}