{% extends '_base.twig' %}

{% block title %}
    {% if success %}
        Your order is being processed!
    {% else %}
        Oops! Something wrong!
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if success %}
            <div class="success payment">
                <h1>
                    Your order has been received👍
                </h1>
                <h2>
                    Thank you for your purchase!
                </h2>
                <div class="order-info">
                    <header>
                        <h3>Order info</h3>
                    </header>
                    <table>
                        <tr>
                            <td>Order</td>
                            <td>{{ product.name }}</td>
                        </tr>
                        <tr>
                            <td>Twitter Username</td>
                            <td>{{ customer_username }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ email }}</td>
                        </tr>
                    </table>
                    <div class="price">Price: {{ price }}{{ currency }}</div>
                </div>
            </div>
        {% else %}
            <div class="cancel payment">
                <h1>Oops! Something wrong!🙈</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}