{% extends '_base.twig' %}

{% block title %}
    Terms of Service - easy-follower.com
{% endblock %}

{% block content %}
    <div class="container" id="terms">
        <h1>Terms of Service</h1>
        <h2>1. General</h2>
        The use of services provided by QuickSocialGrow establishes agreement to these terms. By registering or using our services you agree that you have read and fully understood the following terms of Service and QuickSocialGrow will not be held liable for loss in any way for users who have not read the below terms of service.

        If there are any contradictions with anything that has something to do with our website, and/or our Terms Of Service, the Terms Of Service rules are always right and applicable. So even if another page on our website states something that is contradictory to our Terms Of Service, the information on the other page is not observed. Instead, the Terms of Service on our website is always right.

        IF YOU DO NOT WISH TO ACCEPT ALL TERMS OF SERVICE FOR THIS WEBSITE THEN PLEASE DO NOT ACCEPT THIS AGREEMENT AND THEREBY DO NOT BUY ANYTHING FROM OUR WEBSITE.

        By placing an order with QuickSocialGrow, you automatically accept all the below listed term of services, privacy policy and refund policy weather you read them or not.

        <h2>2. Service</h2>
        1. This service will only be used for promotional purposes for your posts on Instagram.
        2. You will not upload anything against Instagrams rules.
        3. You shall not knowingly exploit the system.
        4. The service sometimes might deliver later than the planned date stated on the website's order page. This can be completely normal. Contact our support team if your order isn't delivered in time, they will most likely find a suitable solution.
        5. Late delivery does not mean you will get a refund or free services.
        6. The amount you purchase is not guaranteed. It can be a bit more. If it's less, contact our support team.
        7. You use this service on your own risk. We are not responsible for any of the consequences that may occur because of using our service. It's 100% your own (the buyer/customer) risk.
        8. People might in some cases unsubscribe to your channel. If this happens, feel free to contact our support. They will probably find a suitable solution. You dont have the right to claim a refund in this case.
        9. We DO NOT guarantee your new followers will interact with you, we simply guarantee you to get the followers you pay for.
        10. We offer a 30-day replacement guarantee on our followers automatically, if there is a drop after the 30 days we are not required to replace them but a replacement can be done by manager approval. Please contact us. (If you make your account to private or change username we are not required to replace followers).
        11. We DO NOT guarantee 100% of our accounts will have a profile picture, full bio and uploaded pictures, although we strive to make this the reality for all accounts.
        12. If you ordered likes or views on our site and not put instruction or links to the photos on order form we will spread likes/views at our discretion.
        13. Private accounts would not a get a refund! Please insure that your account is public before ordering.

        <h2>3. PayPal & Payments</h2>
        1. You agree that upon purchasing 'likes' or 'followers', you clearly understand and agree what you are purchasing and will not file a fraudulent dispute via PayPal, Creditcard, or Bank.
        2. Upon a fraudulent attempt to file a dispute, claim, unauthorized transaction or chargeback, we grant the right, if necessary, to ban your IP address from this website and you allow us to take legal actions against you. Also, we remain the right to (attempt to) terminate your Instagram account and reverse any services that have been delivered.
        3. No partial or full refunds will be issued for service interruption, failure or anything else unless your order does not get delivered at all. You are required to put your account on public setting, and not change your username until delivery is finished.
        4.If you opened dispute against us on PayPal we will not refill your followers in the future regardless of the resolution of the dispute.
        5. By purchasing anything from this website, you agree to PayPals Terms of Service and state to not break any of their rules.

        <h2>4. Copyright</h2>
        You will in no way copy any programming, text or images used on the QuickSocialGrow website without the written consent of a QuickSocialGrow representative.

        <h2>5. Disclaimer</h2>
        QuickSocialGrow will not be responsible for any damages you or your business may suffer. QuickSocialGrow makes no guarantees of any kind, expressed or implied for the services we provide. Since QuickSocialGrow uses the internet to deliver services, we cannot guarantee up time or availability of our website.

        <h2>6. Change of Terms</h2>
        This Terms of Service is subject to change at any time. Notices of change will be considered given and effective on the date posted on our website. The changes made will become effective the date they are posted on our website. No further notice by QuickSocialGrow is required upon your continued use of our website or software.

        <h1 id="refund">Refund Policy</h1>
        Since QuickSocialGrow is offering non-tangible irrevocable goods we do not issue refunds once the order is accomplished and the product is sent. As a customer you are responsible for understanding this upon purchasing any item at our site.
        However, we realize that exceptional circumstance can take place with regard to the character of the product we supply.
        Therefore, we DO honor requests for the refund on the following reasons:
        Non-delivery of the product: in some cases the process times are slower, and it may take a little longer for your orders to finish. In this case we recommend contacting us for assistance. Claims for non-delivery must be submitted to our support department in writing within 7 days from the order placing date. Otherwise the campaign will be considered completed.
        Unsatisfaction, if you are 100% unsatsifed and we can adhere to the results provided you will be granted a full refund.
        Product not-as-described: such issues should be reported to our support department within 7 days from the date of the purchase. Clear evidence must be provided proving that the purchased product is not as it is described on the website. Complaints which are based merely on the customer's false expectations or wishes are not honored.

        <h1 id="privacy">Privacy Policy</h1>
        This policy covers how we use your personal information. We take your privacy seriously and will take all measures to protect your personal information.
        Any personal information received will only be used to fill your order. We will not sell or redistribute your information to anyone.
    </div>
{% endblock %}